@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="layui-form layuimini-form" lay-filter="EditMenuForm">
        <input type="hidden" name="Id" />
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="Title" placeholder="请输入角色名称" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">等级</label>
            <div class="layui-input-block">
                <input type="text" name="Level" placeholder="请输入等级名称" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="Sort" placeholder="请输入排序名称" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">访问地址</label>
            <div class="layui-input-block">
                <input type="text" name="Href" placeholder="请输入访问地址" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">图标样式</label>
            <div class="layui-input-block">
                <input type="text" name="Icon" placeholder="请输入图标样式" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目标</label>
            <div class="layui-input-block">
                <input type="text" name="Target" placeholder="请输入目标样式" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">父菜单</label>
            <div class="layui-input-block">
                <select name="ParentId">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="Description" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
    <script src="../layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$;

            // 请求数据给表单赋值
            $.ajax({
                url: '/MenuInfo/GetEditMenuInfo',
                type: 'get',
                data: { Id: parent.MenuInfoId },
                success: function (res) {
                    console.log(res)
                    if (res.code == 200) {
                        // 渲染下拉框
                        $.each(res.data.selectOptionsDtos, function (index, value) {
                            $("[name='ParentId']").append(new Option(value.title, value.value))
                        })
                        layui.form.render('select')

                        // 给表单赋值
                        form.val("EditMenuForm", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                            "Title": res.data.menuInfo.title // "name": "value"
                            , "Level": res.data.menuInfo.level
                            , 'Sort': res.data.menuInfo.sort
                            , 'Href': res.data.menuInfo.href
                            , 'Icon': res.data.menuInfo.icon
                            , 'Target': res.data.menuInfo.target
                            , 'ParentId': res.data.menuInfo.parentId
                            , 'Description': res.data.menuInfo.description
                            , "Id": res.data.menuInfo.id
                        });
                    }
                }
            })

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                $.ajax({
                    url: '/MenuInfo/EditMenuInfo',
                    type: 'put',
                    data: data.field,
                    success: function (res) {
                        if (res.code == 200) {
                            // 销毁弹出层
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        } else {
                            layer.alert(res.msg)
                        }
                    }
                })
                return false;
            });

        });</script>
</body>
</html>